
div.cont_panel {
	width: 91vw;
	margin-left: 2.5vw;
	margin-top: -2vw;
	background-color: #FFF;
	font-size: 1.5vw;
	padding: 2vw;
	text-align: justify;
}

div.cont_panel h1 {
	font-size: 3vw;
	text-align: center;
	padding: 1vw;
}

div.cont_panel div.cont_info {
	background-color: #CCC;
	border-radius: 2vw 0vw 2vw 0vw;
}

div.cont_panel div.cont_info h1 {
	text-align: left;
	padding: 0.2vw 2vw;
	color: #00FA05;
	background-color: #000;
	font-size: 1.8vw;
	border-radius: 2vw 0vw 0vw 0vw;
}

div.cont_panel div.cont_info div {
	font-size: 1.5vw;
	padding: 0vw 2vw;
}

div.cont_panel div.cont_info span {
	font-size: 1vw;
	background: #000;
	display: block;
	color: #FFF;
	padding: 0.3vw 2vw;
	border-radius: 0vw 0vw 2vw 0vw;
}

div.cont_panel table {
	width: 91vw;
}

div.cont_panel div.galery {
	width: 91vw;
	background-color: gray;
	text-align: center;
}

div.cont_panel div.galery a {
	cursor: pointer;
}

div.cont_panel div.galery img {
	display: inline-block;
	width: 27vw;
	height: 15vw;
	padding: 1vw;
}

div#galery_full {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}

div#galery_full img {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	max-width: 90vw;
	max-height: 90vh;
}

/* PRE MOBIL */
@media (max-width: 770px) {
	div.cont_panel {
		width: 92vw;
		margin-left: 0vw;
		margin-top: 0vw;
		background-color: #FFF;
		font-size: 4vw;
		padding: 4vw;
		text-align: justify;
	}

	div.cont_panel h1 {
		font-size: 6vw;
		text-align: center;
		padding: 0vw;
	}

	div.cont_panel div.cont_info {
		background-color: #CCC;
		border-radius: 2vw 0vw 2vw 0vw;
	}

	div.cont_panel div.cont_info h1 {
		text-align: left;
		padding: 0.2vw 2vw;
		color: #00FA05;
		background-color: #000;
		font-size: 4vw;
		border-radius: 2vw 0vw 0vw 0vw;
	}

	div.cont_panel div.cont_info div {
		font-size: 3vw;
		padding: 0vw 2vw;
	}

	div.cont_panel div.cont_info span {
		font-size: 3vw;
		background: #000;
		display: block;
		color: #FFF;
		padding: 0.3vw 2vw;
		border-radius: 0vw 0vw 2vw 0vw;
	}

	div.cont_panel table {
		width: 91vw;
	}

	div.cont_panel div.galery {
		width: 91vw;
		background-color: gray;
		text-align: center;
	}

	div.cont_panel div.galery a {
		cursor: pointer;
	}

	div.cont_panel div.galery img {
		display: inline-block;
		width: 89vw;
		height: auto;
		padding: 1vw;
	}

	div#galery_full {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.9);
		display: none;
	}

	div#galery_full img {
		position: fixed;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		max-width: 100vw;
		max-height: 100vh;
	}
}







